    


.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    background-color: #f1f5a6;
    margin: auto;
    text-align: center;
}


.PRENDAS {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    display: flex;
    align-items: flex;
    justify-content: space-around;
    background: rgb(189, 187, 252);
    width: 750px;
    height: 500px;
    border-width: 4px;
    border-radius: 10px;
}

.item {
    background: #f1f5a6;
    min-height: 100px;
    min-width: 100px;
    border: 1px solid black;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-width: 4px;
    border-radius: 10px;

}
div {
    height: 55px;
    width: 130px;
    border-color: #002F90;
    border-style: solid;
    background-color: #9DBADE;
    border-width: 4px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}


