div {
    margin: auto;
    text-align: center;
}


.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    background-color: silver;
    margin: auto;
    text-align: center;
}


.PRENDAS {
    flex-wrap: wrap-reverse;
    display: flex;
    align-items: flex;
    justify-content: space-around;
    background: rgb(189, 187, 252);
    width: 750px;
    height: 500px;
}

.item {
    background: grey;
    min-height: 30px;
    min-width: 30px;
    border: 1px solid black;
    text-align: center;
    flex-wrap: wrap-reverse;
    display: flex;
    align-items: flex;
    justify-content: space-around;

}