
div{
    margin:auto;
    text-align: center;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
   }
   .body{
    padding-top: 1em;
   }
   .PRENDAS {
    flex-wrap: wrap-reverse;
    display: flex;
    
    align-items:flex;
    justify-content: space-around;
    background: white;
    width: 750px;
    height: 500px;
   }
   .item {
    background: grey;
    min-height: 30px;
    min-width: 30px;
    border: 1px solid black;
    text-align: center;
   }
   
