#main {
    text-align: center;
    background-image: url(images/background.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

body {
    background-color: rgb(255, 255, 255);
}

.imagen {
    background-size: 100% 100%;
    background-attachment: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
    border-style: dotted;
    border-width: 3px;
    border-color: black;
}

.texto {
    margin-top: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.transparent-bg {
    opacity: 0.4
}

#dropdownmenubar:hover {
    background-color: black;
}

.dropdown-menu {
    width: fit-content
}

.texto_main_carousel {
    background-color: rgba(0, 0, 0, 0.55);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}