<html>

<head>
    <title>Pagina Secundaria</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="/styles/style.css" rel="stylesheet">
    <script src="clothesService.js"></script>
    <script src="clothesService.js">import { editClothes } from './clothesService.js'; </script>
    </script>


</head>

<body>
    <header>
        <h1 class="title">MARNA </h1>
        <p class=" redes">Encuentranos en nuestras redes sociales: <i class="bi bi-instagram"> </i> <i
                class="bi bi-tiktok">
            </i><i class="bi bi-twitter"></i></p>

    </header>

    <body>
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <img class="hoodie" src="{{img}}">

                </div>

                <div class="col-md-6 main-content">

                    <h1>{{title}}</h1>
                    <h6> Descripción: </h6>
                    <p>{{description}}</p>
                    <p>PRECIO: {{price}} € </p>
                    <p>COLORES: {{colors}} </p>


                    <nav class="button">
                        <a href="/clothes/{{id}}/delete">Borrar <i class="bi bi-trash"></i></a>
                        <a href="/" class="button">Inicio</a>
                        <a href="/clothes/{{id}}/modify" class="button" onclick="editClothes">Editar <i
                                class="bi bi-brush"></i></a>
                    </nav>
                </div>
            </div>
        </div>
        <p> </p>
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="caja-comentarios">

                        <p>

                        </p>
                        <h2>¡Deja tu comentario!</h2>

                        <form>

                            <label for="name" class="form-label">Nombre de usuario</label>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="comment class=" form-label">Descripcion </label>
                            <textarea id="comment" name="comment" class="form-control"></textarea>

                            <nav class="button">
                                <a onclick="agregarComentario(event)" class="button">Submit</a>
                            </nav>

                        </form>

                    </div>



                </div>

            </div>
            <div id="comentariosContainer" class="comentario"></div>

            <div class="row">
                {{#comentarios}}
                <div class="col-md-1">
                    <img class="icon" src="https://i.pinimg.com/736x/c5/60/62/c56062ce3d120bb50721216064f812cc.jpg">
                </div>
                <div class="col-md-11">

                    <div class="NombreUsuario">
                        <h5>{{name}}</h5>
                    </div>
                    <p>
                        {{comment}}
                    </p>
                    {{/comentarios}}
                </div>
            </div>
        </div>
        </div>
        </div>

        <script>
            // script para que los comentarios que el usuario escribe aparezcan
            window.onload = function () {
                cargarComentarios();
            };

            function cargarComentarios() {
                var comentariosContainer = document.getElementById("comentariosContainer");
                var comentariosGuardados = JSON.parse(localStorage.getItem('comentarios')) || [];

                comentariosGuardados.forEach(function (comentarioHTML) {
                    var nuevoComentario = document.createElement("div");
                    nuevoComentario.classList.add("comentario");
                    nuevoComentario.innerHTML = comentarioHTML;
                    comentariosContainer.appendChild(nuevoComentario);
                });
            }

            function agregarComentario() {
                var nombre = document.getElementById("name").value;
                var comentarioTexto = document.getElementById("comment").value;
                var nuevoComentario = document.createElement("div");
                nuevoComentario.classList.add("comentario");
                var comentario = `
        <div class="row">
            <div class="col-md-1">
                <img class="icon" src="https://i.pinimg.com/736x/c5/60/62/c56062ce3d120bb50721216064f812cc.jpg">
            </div>
            <div class="col-md-11">
                <div class="NombreUsuario">
                    <h5>${nombre}</h5>
                </div>
                <p>${comentarioTexto}</p>
            </div>
        </div>
    `;


                nuevoComentario.innerHTML = comentario;
                var comentariosContainer = document.getElementById("comentariosContainer");
                comentariosContainer.appendChild(nuevoComentario);


                document.getElementById("comentarioForm").reset();


                var comentariosGuardados = JSON.parse(localStorage.getItem('comentarios')) || [];
                comentariosGuardados.push(comentario);
                localStorage.setItem('comentarios', JSON.stringify(comentariosGuardados));
            }
        </script>
    </body>

</html>