.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 350%;
    background-color: rgb(218, 169, 175);
    margin: auto;
    text-align: center;
    font-weight: bold;

}

.hoodie {
    width: 70%;
    height: auto;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.button a {

    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(218, 169, 175);
    border-radius: 5px;
}

.button a:hover {
    background-color: silver;
}

.icon {
    height: 100px;
    width: 100px;
    align-items: center;
    border-style: solid;

}

.col-md-11 {
    border: black;
    border-bottom: 1%;
    border-style: solid;
    border-radius: 2%;
}

.comentario {
    background-color: aliceblue;

}

.NombreUsuario {
    background-color: rgb(218, 169, 201);
}

.rating {
    display: flex;
    flex-direction: row-reverse;

}

.rating input {
    display: none;
}

.rating label {

    width: 30px;
    height: 30px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/32/32172.png');
    background-size: cover;
}

.rating input:checked~label {
    background-image: url('https://ih1.redbubble.net/image.806536056.0571/st,small,845x845-pad,1000x1000,f8f8f8.u2.jpg');
}

.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
}

.conteiner {
    font-family: 'Times New Roman', Times, serif;
}

.newclothes {
    border-radius: 1%;
    border-width: 15%;
    margin: 5%;
    align-items: center;
    justify-content: space-around;
    background: rgb(218, 169, 175);

}

.redes {
    text-align: right;
}

.titlenewclothe {
    text-align: center;
}

.caja-comentarios {
    background-color: #fff;
    padding: 1%;
    border-radius: 10px;
    width: 80%;
    height: auto;
}

textarea {
    width: 100%;
    padding: 0px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.imagen {
    width: 50%;
    height: auto;
}

.PRENDAS {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    display: flex;
    align-items: flex;
    justify-content: center;
    background: rgb(218, 169, 175);
    border-width: 4px;
    border-radius: 10px;
}

.item {
    min-height: 30%;
    width: 200px;
    height: 200px;
    background: white;
    border-color: rgb(242, 155, 209);
    text-align: center;

    justify-content: space-around;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 2%;
}

.marco {
    height: 90%;
    width: 90%;
    margin-left: 3%;
    border-color: #002F90;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    align-items: center;
}

.boton {
    max-width: 100%;
}