.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    background-color: silver;
    margin: auto;
    text-align: center;
}

.hoodie {
    width: 75%;
}

.button {
    text-align: right;
}


.icon {
    height: 20%;

}

.comentario {
    background-color: aliceblue;
}

.NombreUsuario {

    background-color: rgb(219, 186, 250);

}